r
/* navbar logged in user */
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.logged_drop a{
    text-decoration: none;
    color: #000;
}

body {
  padding-top: 5rem;
}

.img-top-fixed-height {
    width: 100% !important;
    height: 15rem !important;
    object-fit: cover !important;
}

.img-top-fixed-height {
    width: 100% !important;
    height: 15rem !important;
    object-fit: cover !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.badge {
    margin-right: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.pl-list-item {
  padding-left: 1.25rem !important;
}

.kosik_icon .dropdown-toggle::after {
    visibility: hidden;
} 

.cart_button{
    width: 100%;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    background-color: #343A40;
    color: #FFF;
    margin-top: 10px;

}

.cart_button:hover{
    color: #FFF;
    text-decoration: none;
    background-color: #545A60;
}
