
/* navbar logged in user */
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}

.logged_drop a{
    text-decoration: none;
    color: #000;
}

body {
  padding-top: 5rem;
}

.my-img-top {
    width: 100% !important;
    height: 15rem !important;
    object-fit: cover !important;
}

.pb-1 {
  padding-bottom: 10 !important;
}

.kosik_icon .dropdown-toggle::after {
    visibility: hidden;
} 

